@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700,900);

*, *::before, *::after {
    box-sizing: border-box;
}

::selection {
    background-color: #009245;
}

body, html {
    margin: 0 auto;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    max-width: 120rem
}

.h1, h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

@media print, screen and (min-width: 40em) {
    .h1, h1 {
        font-size: 3rem
    }
}

@media print, screen and (min-width: 64em) {
    .h1, h1 {
        font-size: 4.375rem
    }
}

.h1__bold {
    font-weight: 700
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 100vh;
    min-height: 37.5rem;
    position: relative;
    z-index: 1
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2
}

.hero__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-color: #ccc
}

.hero__content {
    position: relative;
    width: 100%;
    z-index: 3;
    margin-top: -20vh;
    padding-top: 10vh;
}

.hero__play {
    margin: 60px auto 0;
    border-radius: 50%;
    background-color: #009245;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.hero__play svg {
    fill: white;
    width: 20px;
    margin-left: 4px;
}

.hero__play:hover {
    background-color: #163517;
}

.hero__subtitle {
    margin-top: 5px;
    font-weight: 700;
    display: block;
}

.hero__text {
    font-size: 16px;
    font-weight: 700;
    max-width: 650px;
    padding: 0 20px;
    margin: 50px auto 0;
    line-height: 1.6;
}

@media print, screen and (min-width: 40em) {
    .hero__text {
        font-size: 20px;
    }
}

.hero__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.hero__logo svg {
    width: 180px;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    margin-left: 624.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: margin-left 0s linear .3s;
    transition: margin-left 0s linear .3s
}

.modal__bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    margin-left: 624.9375rem;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out, margin-left 0s linear .3s;
    transition: opacity .3s ease-in-out, margin-left 0s linear .3s
}

.modal__close {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    z-index: 2;
    width: .9375rem;
    height: .9375rem
}

.modal__content {
    z-index: 2;
    background-color: #fff;
    width: 90%;
    max-height: 80vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
    padding: 50px 30px 30px;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

@media (min-width: 1024px) {
    .modal__content {
        max-width: 48rem;
        width: auto
    }
}

.modal__title-section {
    margin-bottom: 3.125rem
}

@media (min-width: 1024px) {
    .modal__title-section {
        margin-bottom: 1.875rem
    }
}

.modal__text {
    margin-top: .625rem
}

.modal--active {
    margin-left: 0;
    -webkit-transition: margin-left 0s linear;
    transition: margin-left 0s linear
}

.modal--active .modal__bg {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    margin-left: 0;
    -webkit-transition: opacity .3s ease-in-out, margin-left 0s linear;
    transition: opacity .3s ease-in-out, margin-left 0s linear
}

.modal--active .modal__content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 32px 0;
    max-width: 100%;
    width: 800px;
}

.video-wrapper__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}